*{
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
	margin: auto;
}
body{
	background-image: url(../img/fondo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.circle{
  border-radius: 50%;
  border-color: white;
  border:1px solid #ccc;
  background-color:transparent;
  color:#fff;
  display:inline-block;
  padding-left:8px;
  padding-right:8px;
  text-align:center;
  cursor: pointer;
}
.circle:hover{
  color:#000;
  background-color:#fff;
}
.badge{
  height:13px;
  width:13px;
  padding:0;
}
.slideShow{
  color:#000!important;
  background-color:#fff!important;
}
#bienvenido{
	width: 450px;
	height: 300px;
	position: relative;
	display: inline-block;
	left: 60px;
	top: 100px;
}

#bienvenido h1{
	color: yellow;
	font-size: 4rem;
}

#bienvenido p{
	margin-top: 25px;
	color:white;
	font-size: 2.2rem;
}
#singin{
	display: inline-block;
	position: fixed;
	width: 500px;
	height: 500px;
	right: 70px;
	bottom: 100px;
	border-radius: 20px;
	background-color: rgba(97, 126, 197, 0.4);
}
#ct-singin{
	position: relative;
	margin-top: 100px;
	text-align: center;
}
#ct-singin h1{
	color: white;
	font-size: 2rem;
	margin-bottom: 20px;
}
#singin input{
	padding: 20px 20px;
	width: 350px;
	margin-bottom: 20px;
	border-radius: 10px;
	border-color: transparent;
}
#singin button{
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 15px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#singin button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#singin button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#singin button:hover span {
  padding-right: 25px;
}
#singin button:hover span:after {
  opacity: 1;
  right: 0;
}
/*SLIDE DIVS FORM*/
.contentSlide {
  width: 100%;
  height: 100%;
  position: fixed;
}
.slide{
	/*background-color: rgba(0, 0, 17, 0.1);*/
	border-radius: 20px;
	margin-top: 60px;
	width: 80%;
	height: 80%;
}
.slide h1{
	color: white;
	position: relative;
	font-size: 2.5rem;
	top: 0px;
	left: 60px;
}
.options{
	position: relative;
	top: 60px;
	width: 90%;
	height: 400px;
	left: 20px;
	text-align: center;
}
.cnt-option{
	background-color: rgba(24, 67, 132, 0.6);
	width: 200px;
	height: 300px;
	display: inline-block;
	margin-right: 25px;
	cursor:pointer;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	color: #777777;
	position: relative;
	border-radius: 5px;
}
.cnt-option:hover{
	padding-top: 20px;
	-webkit-transform: scale(1.1);
	color: transparent!important;
	-webkit-transition: all .0.5s ease-in-;
}
.activated{
	-webkit-box-shadow: 0px -1px 43px 10px rgba(45,188,240,1);
	-moz-box-shadow: 0px -1px 43px 10px rgba(45,188,240,1);
	box-shadow: 0px -1px 43px 10px rgba(45,188,240,1);
}
.cnt-option img {
	margin-top: 10px;
	width: 180px;
	height: 250px;
	border-radius: 5px;
}
.cnt-option span{
	top: 20px;
	display: block;
	color: white;
}
#arrows{
  position: relative;
  top: -270px;
  width: 90%;
}
.left{
  float: left;
  font-size: 6rem;
}
.rigth{
  float: right;
  font-size: 6rem;
}
.left , .rigth {
	color:white;
    cursor: pointer;
}
.left:hover, .rigth:hover{
	opacity: 1;
}
#dots{
	position: relative;
	text-align: center;
	bottom: 0px;
}

/*Contenido de lectura*/
#container{
	display: inline-block;
}
.cnt-info{
	margin: 0px;
	left: 40px;
	top: 10px;
	position: absolute;
	text-align: justify;
	width: 45%;
	border-radius: 8px;
	border-right: 1px solid black;
	border-left: 1px solid black;
	/*-webkit-box-shadow: 2px 2px 87px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 87px -9px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 87px -9px rgba(0,0,0,0.75);
*/}
.cnt-info h1{
	padding-top: 20px;
	padding-bottom: 20px;
}
.cnt-lec{
	border:1px solid none;
	width: 90%;
	font-size: 1.2rem;
}

.afiche{
	display: inline-block;
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0px;
	background-color: #ef6c00;		
}

.cnt-afiche{
	border:1px solid black;
	width: 80%;
	height: 450px;
	margin-top: 15px;
	position: relative;
}

.cnt-afiche img{
	width: 100%;
	height: 100%;
}

.mainImg{
	bottom: -40px;
	left: 0px;
	width: 100%;
	position: relative;
	cursor: pointer;
	z-index: 1000;
}
.img-m{
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-left: 20px;
}
.img-m img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.title{
	top: 20px;
	left: 20px;
	position: absolute;
	cursor: pointer;
	color:black;
}
.resumen{
	position: absolute;
	right: 20px;
	top: 350px;
	cursor: pointer;
}

.title textarea,.resumen textarea{
	height: 100px;
	resize: none;
	background: none;
	font-size: 1.3rem;
	border:none;
}

.title textarea{
	width: 90%;
	color: black;
	font-size: 2.5rem;
}
.resumen textarea{
	color: white;
	width:400px;
	text-align: right;
}

#ocultar{
	border-radius: 50%;
	width: 80px;
	height: 80px;
	font-size: 2rem;
	background: white;
	border:none;
	position: absolute;
	top: 80px;
	left: 600px;
	z-index: 1000;
	border:4px solid #ef6c00;
	cursor: pointer;
}

#ocultar:hover{
	color: white;
	background:#ef6c00;
	border:4px solid #ef6c00;
}
#continuar{
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  right: 50px;
  bottom: 20px;
  position: absolute;
}

#empieza{
	background-color: #388e3c;
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 3rem;
	color:white;
}

#empieza h1{
	margin-top: 80px;
}
#empieza p{
	margin-top: 80px;
}
#empieza img{
	position: fixed;
	right: 70px;
	bottom: 10px;
}
#play{
  top: 60px;
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: relative;
}
#play:hover{
  background-color: #ff7043;
  color: black;
  transition: all 0.5s;
}

#resultado{
	background-color: #880e4f;
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 3rem;
	color:white;
}

#resultado h1{
	margin-top: 80px;
	color: yellow;
}
#resultado p{
	margin-top: 80px;
}

#resultado img{
	position: fixed;
	right: 70px;
}
#avatar{
  display: inline-block;
  border-radius: 4px;
  background-color: #4a148c;
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  right: 0px;
  top: 40px;
  position: relative;
}
#avatar:hover{
	 background-color: #673ab7;
}

#sig{
  display: inline-block;
  border-radius: 4px;
  background-color: orange;
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  right: 0px;
  left: 130px;
  top: 40px;
  position: relative;
}
#sig:hover{
	 background-color: #673ab7;
}

#resultado1{
	background-color: #880e4f;
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 3rem;
	color:white;
	margin-top: -19px;
}

#resultado1 h1{
	margin-top: 0px;
	color: yellow;
}
#resultado1 p{
	margin-top: 0px;
}

#resultado1 img{
	position: fixed;
	right: 70px;
	bottom: 50px;
}

#star{
	width: 250px;
	height: 250px;
	position: relative;
	left: 100px;
	bottom: 10px;
}