*{
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
	margin: auto;
}
body{
	background-image: url(../img/fondo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.circle{
  border-radius: 50%;
  border-color: white;
  border:1px solid #ccc;
  background-color:transparent;
  color:#fff;
  display:inline-block;
  padding-left:8px;
  padding-right:8px;
  text-align:center;
  cursor: pointer;
}
.circle:hover{
  color:#000;
  background-color:#fff;
}
.badge{
  height:13px;
  width:13px;
  padding:0;
}
.slideShow{
  color:#000!important;
  background-color:#fff!important;
}
#bienvenido{
	width: 450px;
	height: 300px;
	position: relative;
	display: inline-block;
	left: 60px;
	top: 100px;
}

#bienvenido h1{
	color: yellow;
	font-size: 4rem;
}

#bienvenido p{
	margin-top: 25px;
	color:white;
	font-size: 2.2rem;
}
#singin{
	display: inline-block;
	position: fixed;
	width: 500px;
	height: 500px;
	right: 70px;
	bottom: 100px;
	border-radius: 20px;
	background-color: rgba(97, 126, 197, 0.4);
}
#ct-singin{
	position: relative;
	margin-top: 100px;
	text-align: center;
}
#ct-singin h1{
	color: white;
	font-size: 2rem;
	margin-bottom: 20px;
}
#singin input{
	padding: 20px 20px;
	width: 350px;
	margin-bottom: 20px;
	border-radius: 10px;
	border-color: transparent;
}
#singin button{
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 15px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#singin button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#singin button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#singin button:hover span {
  padding-right: 25px;
}
#singin button:hover span:after {
  opacity: 1;
  right: 0;
}
/*SLIDE DIVS FORM*/
.contentSlide {
  width: 100%;
  height: 100%;
  position: fixed;
}
.slide{
	/*background-color: rgba(0, 0, 17, 0.1);*/
	border-radius: 20px;
	margin-top: 60px;
	width: 80%;
	height: 80%;
}
.slide h1{
	color: white;
	position: relative;
	font-size: 3rem;
	top: 30px;
	left: 60px;
}
.options{
	position: relative;
	top: 100px;
	width: 90%;
	height: 400px;
	text-align: center;
}
.cnt-option{
	background-color: rgba(24, 67, 132, 0.6);
	width: 200px;
	height: 300px;
	display: inline-block;
	margin-right: 25px;
	cursor:pointer;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	color: #777777;
	position: relative;
	border-radius: 5px;
	
}
.cnt-option:hover{
	padding-top: 20px;
	-webkit-transform: scale(1.1);
	color: transparent!important;
	-webkit-transition: all .0.5s ease-in-;
}
.activated{
	-webkit-box-shadow: 0px -1px 43px 10px rgba(45,188,240,1);
	-moz-box-shadow: 0px -1px 43px 10px rgba(45,188,240,1);
	box-shadow: 0px -1px 43px 10px rgba(45,188,240,1);
}
.cnt-option img {
	margin-top: 10px;
	width: 180px;
	height: 250px;
	border-radius: 5px;
}
.cnt-option span{
	top: 20px;
	display: block;
	color: white;
}
#arrows{
  position: relative;
  top: -330px;
  width: 90%;
}
.left{
  float: left;
  font-size: 6rem;
}
.rigth{
  float: right;
  font-size: 6rem;
}
.left , .rigth {
	color:white;
    cursor: pointer;
}
.left:hover, .rigth:hover{
	opacity: 1;
}
#dots{
	position: relative;
	text-align: center;
}